<ion-header>
  <ion-toolbar>
    <ion-title>Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Poesias</h3>
  <ion-item>
    <ion-label position="floating">Texto</ion-label>
    <ion-textarea placeholder="" [(ngModel)]="poesia.texto"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Imagen</ion-label>
    <ion-input [(ngModel)]="poesia.imagen"></ion-input>
  </ion-item>



    <ion-item>
      <ion-label>Fecha </ion-label>
      <ion-input [(ngModel)]="poesia.fecha" type="date"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label position="floating">Comentario</ion-label>
    <ion-input [(ngModel)]="poesia.comentario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button color="dark" (click)="guardar()">Enviar</ion-button>
  </ion-item>
</ion-content>
