<ion-header>
  <ion-toolbar>
    <ion-title>Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let po of poesia | async">
    <ion-card-content (click)="detalleContacto(medico)">
      <div class="card-title">{{po.texto}} </div>
      <div class="card-subtitle">{{po.imagen}}</div>
      <div class="card-subtitle">Autor:{{po.autor}}</div>
      <div class="card-subtitle">{{po.fecha}}</div>
     
      <div class="card-subtitle">Comentario :{{po.comentario}}</div>
  </ion-card-content>
  <ion-item>
    <ion-label position="floating">Ingrese comentario</ion-label>
    <ion-input [(ngModel)]="po.comentario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="dark" (click)="publicar(po.comentario,po.uid)">Publicar</ion-button>
  </ion-item>
  </ion-card>



</ion-content>
