<ion-header>
  <ion-toolbar>
    <ion-title>RegistrarUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buttom-action">
    <ion-button routerLink="/inicio-sesion" fill="clear" color="dark" size="small">
      <b>
        <p class="signup-text">Iniciar Sesion</p>
      </b>
    </ion-button>
  </div>

  <h3>Registar Usuario</h3>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-textarea placeholder="" [(ngModel)]="usuario.nombre"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="usuario.apellido"></ion-input>
  </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="usuario.correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contrasenia</ion-label>
      <ion-input [(ngModel)]="usuario.contrasena"></ion-input>
    </ion-item>
 
  <ion-item>
    <ion-button color="dark" (click)="guardar()">Registrar</ion-button>
  </ion-item>
</ion-content>
