<ion-header>
  <ion-toolbar>
    <ion-title>InicioSesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contrasenia</ion-label>
    <ion-input [(ngModel)]="contrasena"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="dark" (click)="loguin()">Iniciar</ion-button>
  </ion-item>

</ion-content>
