<ion-header>
  <ion-toolbar>
    <ion-title>ListarPublicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buttom-action">
    <ion-button routerLink="/inicio-sesion" fill="clear" color="dark" size="small">
      <b>
        <p class="signup-text">Inicio Sesion</p>
      </b>
    </ion-button>
  </div>

  <ion-card *ngFor="let po of poesia | async">
    <ion-card-content (click)="detalleContacto(medico)">
      <div class="card-title">{{po.texto}} </div>
      <div class="card-subtitle">{{po.imagen}}</div>
      <div class="card-subtitle">{{po.autor}}</div>
      <div class="card-subtitle">{{po.fecha}}</div>
      <div class="card-subtitle">Comentario:{{po.comentario}}</div>
     
  </ion-card-content>

  </ion-card>




</ion-content>
